﻿
@{
    ViewBag.Title = "RegisterUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rejestracja Pomyślna!</h2>

Na twoje konto została wysłana wiadomośc z linkiem aktywacyjnym.<br/>
Link jest ważny przez 15 minut!

