﻿@model PortalSpolecznosciowy.Models.EditArticle

@using (Html.BeginForm("SaveEditArticle", "Article", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edytuj Artykuł</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.Label("Autor: ", new { @class = "control-label col-md-2" })
            <div class="control-label col-md-2">
                @Html.Label(new PortalSpolecznosciowy.Repository.GetUser(@Model.Users_ID).UserLogin)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Zawartość: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if ( !String.IsNullOrEmpty(@Model.ImagePath) )
                {
                    <a class="group3" href="@Url.Content(@Model.ImagePath)" title="@Model.Content">
                        <img src="@Url.Content(@Model.ImagePath)" width="200" height="200" alt="ProfileImage"/>
                    </a>
                    <br/>
                    @Html.Raw("Usuń zdjęcie")
                    @Html.CheckBoxFor(x => x.Image)
                }
                else
                {
                    @Html.Raw("Brak zdjęcia")
                }
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
}
