﻿@model PortalSpolecznosciowy.Models.ArticleAndComments

@{
    ViewBag.Title = "Artykuł";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row panel" style="margin-top: 50px;">
    <div id="categories" class="col-md-5">
        @Html.Raw("<div class=\"panel panel-default\">")
        @Html.Raw("<div class=\"panel-body\">")
        @Html.Raw("<b> autor: ")
        @Html.ActionLink(@Model.Article.Users.Login, "UserProfile", "Users", new { userLogin = @Model.Article.Users.Login }, null)
        @Html.Raw("</b>")

        @if (Session["Login"] != null && (new PortalSpolecznosciowy.Repository.GetRole(Session["Login"].ToString()).Role == 2 ||
                                                                  new PortalSpolecznosciowy.Repository.GetRole(Session["Login"].ToString()).Role == 3))
        {
            @Html.ActionLink("Edytuj", "EditArticle", "Article", new { artId = @Model.ArticleID, authorId = @Model.Article.Users_ID }, null)
            @Html.Raw(" | ")
            @Html.ActionLink("Usuń", "DeleteArticle", "Article", new { artId = @Model.ArticleID, authorId = @Model.Article.Users_ID }, null)
        }

        <h2>@Model.Article.Content</h2>
        @if (!String.IsNullOrEmpty(@Model.Article.Image))
        {
            <a class="group3" href="@Url.Content(@Model.Article.Image)" title="@Model.Article.Content">
                <img class="img-thumbnail" src="@Url.Content(@Model.Article.Image)" alt="Image" height="100" width="100" />
            </a>
        }
        <br />
        <br />
        @Html.Raw("</div>")
        @Html.Raw("<div class=\"panel-footer\">")
        @Html.Raw("<b>Komentarze: </b>")
        <br />
        @foreach (var com in Model.Comments)
        {
            @Html.Raw("<div class=\"panel-footer\">")
            var author = new PortalSpolecznosciowy.Repository.GetUser(@com.Users_ID).UserLogin;
            <p class="h6">
                @Html.Raw("<b> autor: ")
                @Html.ActionLink(@author, "UserProfile", "Users", new { userLogin = @author }, null)
                @Html.Raw("</b> <br/>")

                @if (Session["Login"] != null && (new PortalSpolecznosciowy.Repository.GetRole(Session["Login"].ToString()).Role == 2 ||
                                                  new PortalSpolecznosciowy.Repository.GetRole(Session["Login"].ToString()).Role == 3))
                {
                    <!--
                        Html.ActionLink("Edytuj", "EditArticle", "Article", new { artId = Model.ArticleID, authorId = Model.Article.Users_ID }, null)
                        Html.Raw(" | ")
                    -->
                    @Html.ActionLink("Usuń", "DeleteComment", "Article", new { artId = @Model.ArticleID, comId = @com.ID }, null)
                }
                <br />
                <br />
                @com.Content
            </p>

            if (com.Image != null)
            {
                <a class="group3" href="@Url.Content(com.Image)" title="@com.Content">
                    <img class="img-thumbnail" src="@Url.Content(com.Image)" alt="Image" height="100" width="100" />
                </a>
            }
            @Html.Raw("</div>")
        }

        @if (TempData["error"] != null)
        {
            <div class="text-danger">@TempData["error"]</div>
        }

        @Html.Raw("<div class=\"panel-footer \">")
        @using (Html.BeginForm("AddComment", "Article", FormMethod.Post, new { enctype = "multipart/form-data", id = "Form" + @Model.Article.ID }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.TextBoxFor(x => x.CommentContent, new { @class = "form-control", id = "Comment" + @Model.Article.ID, @Value = "napisz komentarz", onclick = "clearField(this.id)" })
            <br />
            @Html.TextBoxFor(x => x.File, new { type = "file", id = "CommentFile" + @Model.Article.ID, @class = "filestyle", data_input = "false", data_buttonText = "Wybierz obrazek" })
            @Html.HiddenFor(x => x.UserLogin, new { @value = Session["Login"] })
            @Html.HiddenFor(x => x.ArticleID, new { @value = @Model.Article.ID })
            <br />
            <input type="submit" value="Skomentuj" onclick="onSend(@Model.Article.ID)" class="btn btn-primary" />
        }
        @Html.Raw("</div>")
        @Html.Raw("</div>")
        @Html.Raw("</div>")

    </div>
</div>

<script src="~/Scripts/bootstrap-filestyle.min.js"></script>
<script>
    var click = false;
    function clearField(id) {
        console.log(id);
        document.getElementById(id).value = "";
        click = true;
    }

    function onSend(formId) {
        if (click == false)
            document.getElementById("Comment" + formId).value = null;
    }
</script>