﻿@model PortalSpolecznosciowy.Models.ChangePassword
@{
    ViewBag.Title = "Zmiana hasła";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zmiana hasła</h2>

<p>Wpisz swoje nowe hasło</p>

@using (Html.BeginForm("ChangePassword", "ForgottenPassword"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @if (TempData["error"] != null)
        {
            <label class="text-danger">
                @TempData["error"]
            </label>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="control-label col-md-2">
                @Html.DisplayFor(x => x.Login)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(x => x.Login)
        @Html.HiddenFor(x => x.Token)
        @Html.HiddenFor(x => x.HashPassword)
        @Html.HiddenFor(x => x.Ip)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Zmień hasło" id="log" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/ForgottenPassword.js"></script>
<script src="~/Scripts/jquery.sha256.min.js"></script>