﻿
@{
    ViewBag.Title = "Odzyskiwanie hasła";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Link wysłany!</h2>
<p>
    Na twój email został wysłany adres email z linkiem do przypomnienia hasła.<br />
    Link jest ważny przez 15 minut !
</p>
