﻿@model IEnumerable<PortalSpolecznosciowy.Repository.Contacts>

<table class="table">
    <tr>
        <th colspan="2">
            Moje kontakty
        </th>
        <td>
            @Html.ActionLink("Wszystkie","Index", "Contacts")
        </td>
    </tr>

    @foreach (var item in Model)
    {
        if(item.Active == 0) { continue; }
        <tr>
            <td>
                @{
                    var user1 = new PortalSpolecznosciowy.Repository.GetUser(item.UserId1).UserLogin;
                    var user2 = new PortalSpolecznosciowy.Repository.GetUser(item.UserId2).UserLogin;
                    @(user1 == Session["Login"].ToString() ?
                        Html.ActionLink(user2, "UserProfile", "Users",  new { userLogin = user2 }, null)
                        : Html.ActionLink(user1, "UserProfile", "Users", new { userLogin = user1 }, null ))
                }
            </td>
            <td>
                @switch (item.Active)
                {
                    case 0: //niezjajomi ?? nie powinno tutaj sie to wgl pojawic
                        {
                            break;
                        }

                    case 1: //oczekujacy na akceptacje
                        {
                            @Html.Raw("(Oczekujące) <td>")
                            if (user1 != Session["Login"].ToString())
                            {
                                @Html.ActionLink("Akceptuj", "AcceptReqest", "Contacts", new {id = item.Id}, null)
                                @Html.Raw(" | ")
                                @Html.ActionLink("Odrzuć", "DeclineReqest", "Contacts", new {id = item.Id}, null)
                            }
                            @Html.Raw("</td>")
                            break;
                        }

                    case 2: //znajomi
                        {
                            @Html.Raw("<td>")

                            @Html.ActionLink("Usuń znajomego", "DeleteContact", "Contacts", new { id = item.Id }, null)

                            @Html.Raw("</td>")
                            break;
                        }
                }
            </td>
        </tr>
    }
</table>
