﻿@model PortalSpolecznosciowy.Repository.Users

<label> @Model.Login </label> <br />


<a class="group3" href="@Url.Content(@Model.Profil_image)" title="@Model.Login">
    <img src="@Url.Content(@Model.Profil_image)" width="200" height="200" alt="ProfileImage" />
</a>

<br />
<br />

@Html.ActionLink("Edytuj mój profil", "EditProfile", "MainPanel", new { }, null) <br />
@Html.ActionLink("Zobacz moje wpisy", "Index", "MainPanel", new { userId = Model.ID, page = 1, option = 2 }, null) <br />
@Html.ActionLink("Zobacz wpisy innych", "Index", "MainPanel", new { userId = Model.ID, page = 1, option = 1 }, null) <br />
<br />
@if (Model.Role == 3)
{
    @Html.ActionLink("Panel Administratora", "Index", "AdminPanel") <br />
}