﻿@using System.Web.Optimization
@{
    ViewBag.url = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/colorbox/jquery.colorbox-min.js"></script>
    <script src="~/Scripts/colorbox.js"></script>

    <meta name="description" content="PortalSpołecznościowy zrobiony na projekt zespołowy by Andrzej Maciejewski" />
</head>

<body>
<div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Strona Główna", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["Login"] == null)
                    {
                        <li>@Html.ActionLink("Zaloguj się", "Index", "Login")</li>
                        <li>@Html.ActionLink("Zarejestruj się", "Index", "RegisterUser")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Wyloguj", "Logout", "Login")</li>
                    }
                </ul>

                <div class="col-sm-3 col-md-3 pull-right">
                    <form action="@ViewBag.url/Users/UserProfile" method="get" class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="userLogin" id="tags" style="z-index: 1050; position: relative">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div id="main" class="container body-content">
        @RenderBody()
        <div id="footer">
            <footer>
                <p>&copy; @DateTime.Now.Year - Created by Andrzej Maciejewski & Adam Filipowicz</p>
            </footer>
        </div>
    </div>
</div>

   
</body>
</html>
