﻿@using PortalSpolecznosciowy.Repository
@{
    ViewBag.Title = "Lista użytkowników";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Users> userList = ViewData.Model;
}

<h2>Lista użytkowników</h2>

@foreach (var user in userList)
{
    <p>
        @Html.ActionLink(@user.Login, "UserProfile", new { userLogin = @user.Login }, null)
    </p>
}


