﻿@model PortalSpolecznosciowy.Models.UserEdit

@{
    ViewBag.Title = "Edytuj profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edytuj swój profil</h2>
<br />
<br />

<div class="form-group">
    @Html.LabelFor(model => model.UserLogin, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DisplayFor(model => model.UserLogin, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UserLogin, "", new { @class = "text-danger" })
    </div>
</div>
<br />

@using (Html.BeginForm("ChangeProfileImage", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @if (TempData["MessageProfileImage"] != null)
                {
                <div class="@TempData["MessageProfileImageOption"]" role="alert">
                    @TempData["MessageProfileImage"]
                </div>
            }
            <p>Zmień Zdjęcie profilowe:</p>
            <div class="col-md-2">
                <a class="group3" href="@Url.Content(@Model.ProfileImageUrl)" title="@Model.UserLogin">
                    <img class="img-thumbnail" src="@Url.Content(@Model.ProfileImageUrl)" alt="Image" height="100" width="100" />
                </a>
            </div>
            @Html.TextBoxFor(x => x.NewProfileImage, new { type = "file", @class = "filestyle", data_input = "false", data_buttonText = "Wybierz obrazek" })
        </div>
        @Html.HiddenFor(x => x.UserLogin, new { @value = @Model.UserLogin })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zmień" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { id = "changePasswordForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @if (TempData["MessageChangePassword"] != null)
            {
                <div class="@TempData["MessageChangePasswordOption"]" role="alert">
                    @TempData["MessageChangePassword"]
                </div>
            }
            <p>Zmień hasło:</p>
            @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(x => x.UserLogin, new { @value = @Model.UserLogin })
        @Html.HiddenFor(x => x.PasswordHash, new { id = "PassHash" })
        @Html.HiddenFor(x => x.Ip)
        @Html.HiddenFor(x => x.Token)
        @Html.HiddenFor(x => x.PassHashToken)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Zmień" id="change" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("ChangeEmail", "Login"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @if (TempData["MessageChangeEmail"] != null)
                {
                <div class="@TempData["MessageChangeEmailOption"]" role="alert">
                    @TempData["MessageChangeEmail"]
                </div>
            }
            <p>Zmień email:</p>
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Raw(TempData["UserEmail"].ToString())
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(x => x.UserLogin, new { @value = @Model.UserLogin })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zmień" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/ChangePassword.js"></script>
<script src="~/Scripts/jquery.sha256.min.js"></script>
