﻿@{
    ViewBag.Title = "ChangeEmailRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zmiana adresu email</h2>

    <div class="@TempData["MessageOption"]" role="alert">
        @TempData["Message"]
    </div>