﻿@model PortalSpolecznosciowy.Models.LoginModel
@{
    ViewBag.Title = "Zaloguj się";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Zaloguj się!</h2>
@using (Html.BeginForm("LoginUserResponse", "Login", FormMethod.Post) ) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (TempData["Error"] != null)
        {
            <label class="text-danger">@TempData["Error"].ToString()</label>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(x => x.PassTokenHash)
        @Html.HiddenFor(x => x.Ip)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Dalej" id="log" class="btn btn-default"/><br/>
                @Html.ActionLink("Nie pamiętam hasła", "Index", "ForgottenPassword")
            </div>
        </div>
    </div>
}

<script src="~/Scripts/LoginForm.js"></script>
<script src="~/Scripts/jquery.sha256.min.js"></script>